.Favourite-Icon{
    position:absolute;
    top: 28.5rem;
    left:57.2vw;
}
.like{
    color: red;
    opacity: 95%;
}
.unlike{
    color: white;
    opacity: 95%;
}
@media (max-width: 480px) {
    .Favourite-Icon{
        position:absolute;
        top: 25rem;
        left: 16rem;
    }
}